
.fotoperpus{
    position: absolute;
width: 1024px;
height: 643px;
left: 472px;
top: 219px;
}
.desktop1{
    position: absolute;
width: 1920px;
height: 960px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #A5C3CA 83.4%, rgba(158, 168, 170, 0.19) 83.98%);
opacity: 0.77;
}
.tlog{
    position: absolute;
width: 86px;
height: 24px;
left: 954px;
top: 720px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.tuser{
    position: absolute;
width: 142px;
height: 33px;
left: 806px;
top: 545px;

font-family: 'Inter';
font-style: italic;
font-weight: 200;
font-size: 24px;
line-height: 29px;

color: #0B0606;
}
.tpws{
    position: absolute;
    width: 142px;
    height: 29px;
    left: 809px;
    top: 624px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
   
    
    
    color: #000000;
    
}
.copy{
    position: absolute;
width: 554px;
height: 19px;
left: 729px;
top: 890px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #000000;

}
.bgmenu{
    position: absolute;
    width: 425px;
    height: 496px;
    left: 780px;
    top: 311px;
    
    background: #E6ECEE;
}
.tmenulogin{
    position: absolute;
width: 356px;
height: 115px;
left: 806px;
top: 365px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #000000;}
.klogin{
    position: absolute;
width: 134px;
height: 44px;
left: 926px;
top: 690px;

background: rgba(24, 153, 225, 0.75);
}
.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
}
/*batassssssssssssssssss halaman login*/


.trekap{
    position: absolute;
width: 796px;
height: 174px;
left: 600px;
top: 150px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
text-align: center;

color: #000000;
}



